# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
# editorconfig.org

root = true

[*]
# Change these settings to your own preference
# The default settings was taken from the kotlin style guide, https://github.com/Kotlin/kotlin-style-guide/issues/38
indent_style = space
indent_size = 4
tab_width = 4
max_line_length = 120

# We recommend you to keep these unchanged
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{kt,kts}]
#https://github.com/editorconfig/editorconfig/issues/412
ij_continuation_indent_size = 8

[{*.md,*.adoc}]
trim_trailing_whitespace = false
